{% extends 'base.html.twig' %} {% block title %}Zero blog|Connexion{% endblock
%} {% block body %}
<h1>Connexion</h1>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{error.messageKey|trans(error.messageData,'security')}}
</div>
{% endif %}
<form action="{{ path('app_login') }}" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">Adresse mail:</label>
    <input
      type="email"
      class="form-control"
      id="username"
      name="_username"
      value="{{ last_username }}"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe:</label>
    <input
      type="password"
      id="password"
      name="_password"
      class="form-control"
    />
  </div>
  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" value="" id="remember_me" />
    <label for="remember_me" class="form-check-label">
      Se souvenir de moi
    </label>
  </div>
  <input type="hidden" name="_target_path" value="{{ path('app_home') }}" />
  <input
    type="hidden"
    name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
  />
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}
