{% extends 'base.html.twig' %} {% block title 'Zeroblog|Articles par catégorie'
%} {% block body %}
<h1>Articles de la catégorie {{ category.name }}</h1>
{% for post in posts %}
<article>
  <h2>{{ post.title }}</h2>
  {% if post.image %}
  <img
    src="{{asset('images/posts/' ~ post.image)}}"
    width="800px"
    height="auto"
    alt=""
  />
  {% endif %}
  <p>{{ post.content  | u.truncate(100,'...')| raw}}</p>
  <i>
    Ecrit par
    <a href="{{ path('app_profile_show', { id: post.user.id }) }}">
      {{ post.user.pseudo }}
    </a>
    le
    {{ post.createdAt|date() }}
  </i>
  <br />
  <a href="{{ path('app_post_show', { id: post.id }) }}">Voir plus</a>
</article>
{% endfor %} {% endblock %}
