{% extends 'base.html.twig' %} {% block title 'Zero blog|Détail article' %} {%
block body %}
<article>
  <h1>{{ post.title }}</h1>
  {% if post.image %}
  <img src="{{asset('images/posts/' ~ post.image)}}" alt="" />
  {% endif %}
  <p>{{ post.content | raw }}</p>
  <i>
    Ecrit par
    <a href="{{ path('app_profile_show', { id: post.user.id }) }}">
      {{ post.user.pseudo }}
    </a>
    le
    {{ post.createdAt|date() }}
  </i>
  <br />
  <p>
    Catégorie:
    <a
      href="{{
        path('app_post_by_category', { category_id: post.category.id })
      }}"
    >
      {{ post.category.name }}
    </a>
  </p>
</article>
<section class="comments">
  <h2>Commentaires</h2>
  {% if is_granted('ROLE_USER') and commentId is null %}
  <div>
    {{ form_start(formComment) }}
    {{ form_row(formComment.content) }}
    <button class="btn btn-primary mt-2" type="submit">Publier</button>
    {{ form_end(formComment) }}
  </div>
  {% endif %} {% for comment in post.comments %}
  <div>
    <p>{{ comment.content | raw }}</p>
    <i>Ecrit par {{ comment.user.pseudo }} le {{comment.createdAt|date()}}</i>
  </div>
  {% if is_granted('ROLE_USER') and commentId is defined and commentId ==
  comment.id %}
  {{ form_start(formComment) }}
  {{ form_row(formComment.content, { value: comment.content }) }}
  <button class="btn btn-primary mt-2" type="submit">Modifier</button>
  {{ form_end(formComment) }}
  {% endif %}
  <hr />
  {% endfor %}
</section>
{% endblock %}
