{% extends 'base.html.twig' %} {% block title 'Zero blog|Détail article' %} {%
block body %}
<article>
  <h1>{{ post.title }}</h1>
  {% if post.image %}
  <img src="{{asset('images/posts/' ~ post.image)}}" alt="" />
  {% endif %}
  <p>{{ post.content | raw }}</p>
  <i>
    Ecrit par <a href="#">{{ post.user.pseudo }}</a> le
    {{ post.createdAt|date() }}
  </i>
  <br />
  <p>
    Catégorie: <a href="#">{{ post.category.name }}</a>
  </p>
</article>
<section class="comments">
  <h2>Commentaires</h2>
  {% for comment in post.comments %}
  <div>
    <p>{{ comment.content | raw }}</p>
    <i>Ecrit par {{ comment.user.pseudo }} le {{comment.createdAt|date()}}</i>
  </div>
  <hr />
  {% endfor %}
</section>
{% endblock %}
