{% extends 'base.html.twig' %} {% block title 'Zero blog|Détail article' %} {%
block body %}
<article>
  <h1>{{ post.title }}</h1>
  {% if post.image %}
  <img src="{{asset('images/posts/' ~ post.image)}}" alt="" />
  {% endif %}
  <p>{{ post.content | raw }}</p>
  <i>
    Ecrit par <a href="#">{{ post.user.pseudo }}</a> le
    {{ post.createdAt|date() }}
  </i>
  <br />
  <p>
    Categorie: <a href="#">{{ post.category.name }}</a>
  </p>
</article>
{% endblock %}
